body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #333;
  font: 14px/18px "Helvetica Neue", "Arial Unicode MS", "Helvetica", sans-serif;
  text-shadow: 0 1px 0 white;
}

@font-face {
	font-family: 'Featherweight';
	src: url('fonts/Knockout-HTF48-Featherweight.eot');
	src: local('☺'), url('fonts/Knockout-HTF48-Featherweight.woff') format('woff'), url('fonts/Knockout-HTF48-Featherweight.ttf') format('truetype'), url('fonts/Knockout-HTF48-Featherweight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lightweight';
	src: url('fonts/Knockout-HTF69-FullLiteweight.eot');
	src: local('☺'), url('fonts/Knockout-HTF69-FullLiteweight.woff') format('woff'), url('fonts/Knockout-HTF69-FullLiteweight.ttf') format('truetype'), url('fonts/Knockout-HTF69-FullLiteweight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h2, h3 {
  font-family: "Featherweight", sans-serif;
  font-size: 72px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}

h2 strong, h3 strong {
  font-family: "Lightweight", sans-serif;
}

h3 {
  font-size: 48px;
}

h3 small {
  font-size: 36px;
}

a {
  color: #ed1c24;
}

nav {
  width: 190px;
  padding-top: 30px;
}

nav .nav-list {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.nav-list li {
  border-top: 10px solid #333;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  text-indent: -100em;
  overflow: hidden;
  margin: 5px -5px;
  padding: 0;
  height: 40px;
  background: url(../img/navigation.png) no-repeat 0 0;
}

.nav-list a:hover,
.nav-list .active a,
.nav-list .active a:hover {
  background-color: transparent;
  background-position-x: -200px;
}

nav .home {
  border-top: none;
}

nav .home a {
  height: 170px;
  background-position-y: 0;
}

nav .corporate a {
  height: 50px;
  background-position-y: -190px;
}

nav .theatre a {
  background-position-y: -260px;
  height: 55px;
}

nav .writing a {
  background-position-y: -335px;
  height: 40px;
}

nav .performance a {
  background-position-y: -395px;
  height: 40px;
}

nav .social {
  height: 48px;
  padding: 1px;
  margin-right: -22px;
  border-top: none;
}

nav .social a {
  float: left;
  padding: 0;
  width: 48px;
  height: 48px;
  margin: 0 22px 0 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(../img/navigation.png) no-repeat -6px -440px;
}

nav .social a.facebook:hover {
  background-position-x: -206px;
}

nav .social a.twitter {
  background-position-x: -76px;
}

nav .social a.twitter:hover {
  background-position-x: -276px;
}

nav .social a.youtube {
  background-position-x: -146px;
}

nav .social a.youtube:hover {
  background-position-x: -346px;
}

section {
  margin-left: 240px;
  min-height: 720px;
  padding-top: 30px;
}

#home {
  padding-top: 0;
}

blockquote[data-quote] {
  margin: 20px 0px;
  padding: 0;
  border: none;
}

blockquote.span5[data-quote]   { margin-left: 10px; }
blockquote.offset1[data-quote] { margin-left: 50px; }

blockquote[data-quote] img {
  display: block;
}

#home .tall-image {
  background: black;
  height: 564px;
  position: relative;
}

#home .tall-image img {
  position: absolute;
  left: 0;
  bottom: 0;
}

#home .intro {
  padding-top: 210px;
}

.carousel {
  margin-top: 20px;
  line-height: inherit;
}

.carousel-navigation {
  position: absolute;
  top: 10px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 0px white;
  height: 20px;
  padding: 2px;
  border-radius: 12px;
  z-index: 10;
}

.carousel-control {
  position: static;
  float: left;
  width: 16px;
  height: 16px;
  margin: 2px;
  padding: 0;
  border: none;
  text-indent: -10em;
  overflow: hidden;
}

.carousel-indicators {
  position: static;
  display: inline;
  margin: 0;
  padding: 0;
}

.carousel-indicators li {
  float: left;
  margin: 2px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
}

.carousel-indicators li:hover {
  background: white;
}

.carousel-indicators li.active {
  background: #ed1c24;
}